* {
  margin: 0;
  padding: 0;
}
body {
  height: 10vh;
  margin-top: 8vh;
  overflow: hidden;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(128, 123, 123, 0.479);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 8vh;
}
.left {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  width: 80px;
  margin-top: 8px;
}
.company-name {
  flex: 1;
  text-align: center;
  position: relative;
  margin-top: 8px;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: black 900;
  font-style: regular;
  font-size: 20px;
}
.company-name h1 {
  padding: 20px;
}
.right {
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: flex-end;
  margin-right: 10px;
}
.com-icons {
  gap: 20px;
  display: flex;
  align-items: center;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: -15px;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background-color: rgba(128, 123, 123, 0);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px rgba(128, 123, 123, 0.479);
}
input[type="search"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  color: #000000;
}
input[type="search"]::placeholder {
  color: #000000;
}
.fa {
  box-sizing: border-box;
  /* padding: 10px; */
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #8c52ff;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}
form:hover {
  width: 300px;
  cursor: pointer;
}
form:hover input {
  display: block;
}
form:hover .fa {
  background: #8c52ff;
  color: white;
}

.slide {
  height: 100%;
  width: 180px;
  right: 0;
  position: absolute;
  background-color: white;
  transition: 0.3s ease;
  transform: translateX(180px);
}
.slide h1 {
  color: #8000ff;
  font-weight: 800;
  text-align: right;
  padding: 10px 0;
  padding-right: 30px;
  pointer-events: none;
}
.slide ul {
  padding: 0;
  margin: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.599);
  background-color: #fff;
}
.slide ul li {
  list-style: none;
  background-color: #fff;
}
.slide ul li a {
  color: #011a41;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.slide ul li:hover a {
  color: #fff;
  background-color: #8000ff;
}
/* .slide ul li a i {
  width: 40px;
  text-align: center;
} */
input[type="checkbox"] {
  display: none;
  visibility: hidden;
  /* -webkit-appearance: none; */
}
.toggle {
  position: relative;
  height: 30px;
  width: 30px;
  /* top: 21px;
  left: 655px; */
  z-index: 1;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(128, 123, 123, 0);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.599); */
}
.toggle .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #000000;
  border-radius: 50px;
  transition: 0.3s ease;
}
.toggle .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input:checked ~ .toggle .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line {
  opacity: 0;
  transform: translateX(20px);
}
input:checked ~ .slide {
  transform: translate(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.034);
}

.context {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  flex-direction: row;
}
.vertical {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 100px;
  margin-left: 20px;
}
.context-heading,
.context-paragraph,
.explopre-me {
  width: 60%;
  height: 20%;
  /* background-color: #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.context-heading h1,
.context-paragraph p {
  font-size: 50px;
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
}
.context-paragraph p {
  font-size: 20px;
  margin-top: 20px;
}

.explopre-me {
  margin-top: 20px;
}
.button-1 {
  background-color: #000000;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #0e66e1;
}
.horizontal {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 100px;
  margin-right: 20px;
}
.box {
  /* background-color: lightblue; */
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: none;
}
.image-container img {
  height: 400px;
  width: 300px;

  margin: 0 10px;
}
.image-container {
  height: 500px;
  width: 100%;
  background-image: url("./photos/a1.jpg");
  background-position: center;
  background-size: 100%;
  animation-name: myani;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.slider {
  position: relative;
  width: 600px;
}
.slider img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
